{% extends 'base.html' %}

{% block title %}
    Pencil It In @{{ user.username }}
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <img src="{{ user.gravatar }}" />

        <h3>@{{ user.username }}</h3>
        <p><strong>{{ user.first_name }} {{ user.last_name }}</strong></p>
        <p>{{ user.bio }}</p>

        {% if is_viewing_self %}
            <a href="{% url "edit_profile" %}">Edit</a>
        {% endif %}
    </div>
    {% for event in events %}
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-9 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h4>{{ event.event_title }}</h4>
                    <p><strong>Location:</strong> {{ event.location }}</p>
                    <p><strong>Start Date:</strong> {{ event.start_dt }}</p>
                    <p><strong>End Date:</strong> {{ event.end_dt }}</p>
                    <p><strong>Notes:</strong> {{ event.message }}</p>
                </div>
            </div>
        </div>
      </div>
      <br >
      {% endfor %}
</div>
{% endblock %}

