{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        {% block title %}
            Pencil It In - Home
        {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/signinform.css' %}" rel="stylesheet">

    <!-- Add your custom CSS to this file -->

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    rel = "stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    rel = "stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
  </head>
<style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif; color: black;}
</style>
<body>

<nav class="navbar navbar-expand-md">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/static/images/icon.PNG", style="width:40px;" />
            Pencil It In
        </a>

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
                ☰
            </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav ml-auto">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}" >Sign Out</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'view_profile' request.user %}" >
                            {{ request.user }}
                            <img src="{{ user.gravatar }}" class="navbar-avatar" />
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a id="log-in-link" class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a id="log-in-link" class="nav-link" href="{% url 'signup' %}">Sign up</a>
                    </li>
                {% endif %}
            </ul>

        </div>
    </nav>
</div>


<main>
{% block main %}
    <div class="container pt-2">

      {# Enable Django's "messages" system #}
      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
          {% endfor %}
      {% endif %}

      {% block content %}
        <p>Use this as a way to quick start any new project.</p>
      {% endblock content %}

    </div>
{% endblock main %}
</main>

      <script src="{% static 'js/bootstrap/jquery-3.4.1.min.js' %}"></script>
      <script src="{% static 'js/bootstrap/bootstrap.js' %}"></script>

    <footer class="container-fluid bg-4 text-center">
<p>Pencil It In, &copy; 2020</a></p>
</footer>

</body>
</html>

<style>
    .bg-4 {
      background-color: #fea096;
      color: #fff;
    }
    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }
    main {
        flex: 1 1 auto;
    }
</style>
    
